
@{
    ViewBag.Title = "Consolidado";
}

@*<h2>Consolidado</h2>*@

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h2 class="card-title">Consolidado</h2>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Empresa</label>
                            @Html.DropDownList("empresa",
                                        new SelectList(ViewBag.Opciones, "Value", "Text"),
                                        htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Localidad</label>
                            <select class="form-control" id="localidad" disabled>
                                <option value="CIUDAD">CIUDAD</option>
                                <option value="GIRA">GIRA</option>
                            </select>
                            <br />
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="chkLocalidad" checked="" disabled>
                                    <label for="chkLocalidad" class="custom-control-label" disabled>Ambas localidades</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Región</label>
                            <select class="form-control" id="sucursal">
                                <option value="COSTA">COSTA</option>
                                <option value="SIERRA">SIERRA</option>
                                <option value="AUSTRO">AUSTRO</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Tipo de cliente</label>
                            <div class="col-sm-6">
                                <!-- checkbox -->
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input tipoCliente" name="FARMACIA" type="checkbox" id="chkFarmacia" checked="">
                                        <label for="chkFarmacia" class="custom-control-label">Farmacia</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input tipoCliente" name="DISTRIBUIDORES" type="checkbox" id="chkDistribuidores">
                                        <label for="chkDistribuidores" class="custom-control-label">Distribuidores</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Fecha de facturación:</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control float-right" id="fecha_presupuesto">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <a class="btn btn-info" 
                                       data-toggle="tooltip"
                                       title="Te sugiere la fecha de corte más cercana según la base de datos"
                                       onclick="SugerirFecha();"><i class="fas fa-sync"></i><span>Autocorte</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="button" id="GenerarPresupuesto" class="btn btn-primary  float-right">Generar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $('[data-toggle="tooltip"]').tooltip();
    </script>
}
